.c-promo {
    padding: $spacing-unit;
    margin-bottom: $spacing-unit;
    background-color: $color-promo-background;
    border-radius: $base-radius;

    > :last-child {
        margin-bottom: 0;
    }

}

    .c-promo h3 {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
