/*------------------------------------*\
  #PAGE-HEAD
\*------------------------------------*/

.c-page-head {
    @include clearfix();
    background-color: $color-page-head-background;
    color: $color-page-head;
    padding: $spacing-unit;
}

    .c-page-head__link-home {
        line-height: 0;
        float: left;
    }
