/**
 * 1. Allow us to style box model properties.
 * 2. Line different sized buttons up a little nicer.
 * 3. Make buttons inherit font styles (often necessary when styling `input`s as
 *    buttons).
 * 4. Reset/normalize some styles.
 * 5. Force all button-styled elements to appear clickable.
 * 6. Subtract the border size from the padding value so that buttons do not
 *    grow larger as we add borders.
 */
.c-hotels-btn {
    display: inline-block; /* [1] */
    vertical-align: middle; /* [2] */
    font: inherit; /* [3] */
    text-align: center; /* [4] */
    margin: 0; /* [4] */
    cursor: pointer; /* [5] */
    padding: ($spacing-unit / 2) $spacing-unit;
    background-color: $color-btn-background;
               color: $color-btn;
    border-radius: $base-radius;
    transition: $base-transition;

    @include hocus() {
        text-decoration: none;
        background-color: $color-btn-background-hover;
    }

}
