/*------------------------------------*\
  #HEADINGS
\*------------------------------------*/

$font-size-h1:  36px;
$font-size-h2:  28px;
$font-size-h3:  24px;
$font-size-h4:  20px;
$font-size-h5:  18px;
$font-size-h6:  16px;

h1, h2, h3, h4, h5, h6 {
    @include font-weight(bold);
}

h1 {
    @include font-size($font-size-h1);
}

h2 {
    @include font-size($font-size-h2);
}

h3 {
    @include font-size($font-size-h3);
}

h4 {
    @include font-size($font-size-h4);
}

h5 {
    @include font-size($font-size-h5);
}

h6 {
    @include font-size($font-size-h6);
}
