/*------------------------------------*\
  #PAGE
\*------------------------------------*/

/**
 * Page-level styling (e.g. HTML and BODY elements).
 */

html {
    font-size: ($base-font-size / 16px) * 1em;
    line-height: $base-line-height / $base-font-size;
    @include font-family(sans-serif);
    background-color: $color-page-background;
    color: $color-page-text;
}
