///*----------------------------------*\
//  #GLOBAL
//\*----------------------------------*/

$base-font-size:    14px;
$base-line-height:  20px;

$base-radius:       3px;

$base-transition:   0.333333333s;

$base-spacing-unit: $base-line-height;
