$color-primary:             $color-brand-primary;
$color-primary-highlight:   $color-brand-primary-highlight;
$color-primary-shadow:      $color-brand-primary-shadow;
$color-secondary:           $color-brand-secondary;
$color-secondary-highlight: $color-brand-secondary-highlight;
$color-secondary-shadow:    $color-brand-secondary-shadow;

$spacing-unit:      $base-spacing-unit;
