/*------------------------------------*\
  #HEADINGS
\*------------------------------------*/

.u-h1 {
  font-size: 36px;
  font-size: 2.571428571rem;
  line-height: 1.111111111;
}

.u-h2 {
  font-size: 28px;
  font-size: 2rem;
  line-height: 1.428571429;
}

.u-h3 {
  font-size: 24px;
  font-size: 1.714285714rem;
  line-height: 1.666666667;
}

.u-h4 {
  font-size: 20px;
  font-size: 1.428571429rem;
  line-height: 1;
}

.u-h5 {
  font-size: 18px;
  font-size: 1.285714286rem;
  line-height: 1.111111111;
}

.u-h6 {
  font-size: 16px;
  font-size: 1.142857143rem;
  line-height: 1.25;
}
