/*------------------------------------*\
  #HEADLINE
\*------------------------------------*/

.c-headline {
  font-size: 14px;
  font-size: 1rem;
  line-height: 1.428571429;
  font-weight: 400;
  border-bottom: 1px solid #cccccc;
  color: #999;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
