/*------------------------------------*\
  #PANEL
\*------------------------------------*/

.c-panel {
  background-color: #fff;
  border-radius: 3px;
  overflow: hidden;
  margin-bottom: 20px;
  border: 1px solid #e4e4e4;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.025);
}

.c-panel--inverse {
  background-color: #378bb5;
  color: #fff;
}

  .c-panel__masthead {
    height: 200px;
    overflow: hidden;
    background-color: #e4e4e4;
  }

  .c-panel__masthead--small {
    height: 100px;
  }

  .c-panel__masthead--fluid {
    position: relative;
    height: auto;
    padding-top: 56.25%;
  }

  .c-panel__masthead-media {
    width: 100%;
    object-fit: cover;
  }

  .c-panel__masthead--fluid .c-panel__masthead-media {
    position: absolute;
    top: -25%;
    left: 0;
  }

  .c-panel__content {
    padding: 20px;
  }

  .c-panel__content > :last-child {
    margin-bottom: 0;
  }

    .c-panel__link {
      display: block;
      text-align: center;
      text-decoration: none;
      padding: 20px;
      border-top: 1px solid #e4e4e4;
      color: #333;
    }
    .c-panel__link:hover, .c-panel__link:focus {
      text-decoration: none;
      background-color: rgba(0, 0, 0, 0.01);
      color: #378bb5;
    }
