/*------------------------------------*\
  #QUOTES
\*------------------------------------*/

blockquote {
  quotes: "“" "”";
}
blockquote p {
  text-indent: -0.42em;
}
blockquote p:before {
  content: open-quote;
}
blockquote p:after {
  content: no-close-quote;
}
blockquote p:last-of-type {
  margin-bottom: 0;
}
blockquote p:last-of-type:after {
  content: close-quote;
}
