/*------------------------------------*\
  #SHARED
\*------------------------------------*/

h1, h2, h3, h4, h5, h6,
ul, ol, dl,
blockquote, p, address,
hr,
table,
fieldset, figure,
pre {
    margin-bottom: 20px;
}

ul, ol,
dd {
    margin-left: 20px;
}
