///*----------------------------------*\
//  #CUSTOM
//\*----------------------------------*/

$global-font-size:    16px !default;
$global-line-height:  24px !default;

$color-brand-primary:               #a9ae00 !default;
$color-brand-secondary:             #2f2f2f !default;
