/*------------------------------------*\
  #HEADLINE
\*------------------------------------*/

.o-headline {
  margin-bottom: rem($global-spacing-unit);
}

.o-headline__main,
.o-headline__sub {
  margin-bottom: 0;
  line-height: 1;
}
