/*------------------------------------*\
  #WRAPPERS
\*------------------------------------*/

.o-wrapper {
    @include clearfix();
    max-width: 1280px;
    padding-right: $spacing-unit;
    padding-left:  $spacing-unit;
    margin-right: auto;
    margin-left:  auto;
}
