///*----------------------------------*\
//  #MQ
//\*----------------------------------*/

///
// Pre-configuration for Sass MQ.
 //

$mq-breakpoints: (
  small: 720px,
  medium: 1024px,
  large: 1200px,
);
