/*------------------------------------*\
  #PAGE-HEAD
\*------------------------------------*/

.c-page-head {
  @include clearfix();
  background-color: $color-page-head-background;
  color: $color-page-head;
  padding: $global-spacing-unit;
  text-align: center;
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0.1);

  &.is-fixed {

    @include mq($from: medium) {
      text-align: left;
      position: fixed;
      top:   0;
      right: 0;
      left:  0;
      z-index: 1;
      -webkit-backface-visibility: hidden;
         -moz-backface-visibility: hidden;
           -o-backface-visibility: hidden;
              backface-visibility: hidden;
    }

  }

}

  .c-page-head__logo {
    display: block;
    line-height: 0;
    margin-bottom: $global-spacing-unit;

    @include mq($from: medium) {
      float: left;
      margin-bottom: 0;
    }

  }

  /**
   * 1. The height of the nav needs to marry up with the height of the logo.
   */
  .c-page-head__nav {
    float: right;
    line-height: $logo-height; /* [1] */
  }
