/*------------------------------------*\
  #NAV-TERTIARY
\*------------------------------------*/

.c-nav-tertiary {
  background-color: $color-grey-dark;
  color: $color-white;
  position: relative;
  text-align: right;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: $global-spacing-unit;
  }

  &::before {
    left: 0;
    background-image: linear-gradient(to right, $color-grey-dark 0, rgba(0,0,0,0) 100%);
  }

  &::after {
    right: 0;
    background-image: linear-gradient(to left, $color-grey-dark 0, rgba(0,0,0,0) 100%);
  }

}

  .c-nav-tertiary__list {
    @include clearfix();
    white-space: nowrap;
    overflow-x: scroll;
    margin: 0;
    list-style: none;
    font-size: 0;
    padding-right: $global-spacing-unit-small;
    padding-left:  $global-spacing-unit-small;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      display: none;
    }

  }

    .c-nav-tertiary__item {
      @include font-size(12px);
      display: inline-block;

      & + & {
        border-left: 1px solid rgba(255, 255, 255, 0.1);
      }

    }

      .c-nav-tertiary__link {
        @include font-weight('normal');
        display: block;
        padding: $global-spacing-unit-small;
        color: $color-white;
        letter-spacing: 0.025em;
      }
