/*------------------------------------*\
  #PROMO
\*------------------------------------*/

$promo-color:             inherit !default;
$promo-color-background:  #ffc !default;

$promo-custom: () !default;

.c-promo {
  padding: $global-spacing-unit;
  margin-bottom: $global-spacing-unit;
  background-color: $promo-color-background;
  color: $promo-color;
  border-radius: $global-radius;

  > :last-child {
    margin-bottom: 0;
  }

  @each $prop, $val in $promo-custom {
    #{$prop}: $val;
  }

}

  .c-promo__title {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
