/*------------------------------------*\
  #AVATAR
\*------------------------------------*/

.c-avatar {
    display: block;
    width:  64px;
    height: 64px;
    border-radius: 100%;
}

.c-avatar--small {
    width:  32px;
    height: 32px;
}

.c-avatar--large {
    width:  128px;
    height: 128px;
}
