/*------------------------------------*\
  #MASTHEAD
\*------------------------------------*/

.c-masthead {
  position: relative;
  background-color: $color-masthead-background;
  color: white;
  overflow: hidden;
  height: 0;
  padding-top: percentage(9/16);
  margin-bottom: $global-spacing-unit;

  @include mq($from: large) {
    padding-top: 0;
    height: 720px;
  }

}

  .c-masthead__media {
    width: 100%;
    position: absolute;
    top:  0;
    left: 0;
  }

  .c-masthead__text {
    position: absolute;
    right:  0;
    bottom: 0;
    left:   0;
    padding: $global-spacing-unit;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
  }

    .c-masthead__title {
      @include font-weight(black);
      @include font-size(60px);
    }
