/*------------------------------------*\
  #CALENDAR
\*------------------------------------*/

.c-calendar {
  width: 100%;
  table-layout: fixed;
  @include font-size(12px);
  text-align: center;

  th,
  td {
    padding: $global-spacing-unit-tiny;
    border: 1px solid $color-ui;
    background-color: $color-calendar;
  }

  th {
    @include font-weight(bold);
    border-bottom-width: 2px;
  }

}

  .c-calendar__title {
    color: $color-calendar-title;

    &#{&} {
      background-color: $color-calendar-title-background;
      border-color:     currentColor;
      border-bottom-width: 1px;
    }

  }

  .c-calendar__outside {
    color: $color-calendar-outside;

    &#{&} {
      background-color: transparent;
    }

  }

  .c-calendar__busy {
    color: $color-calendar-busy;

    &#{&} {
      background-color: $color-calendar-busy-background;
      border-color: currentColor;
    }

  }
