/*------------------------------------*\
  #TESTIMONIAL
\*------------------------------------*/

/**
 * Testimonials feature a quote from a person and their photograph. The
 * Testimonial component extends the Media Object.
 */

.c-testimonial {
  @include font-size(18px);
  padding: $global-spacing-unit;
  border-left: 8px solid $color-testimonial-border;
  background-color: $color-testimonial-background;
}

  .c-testimonial__title {
    @include font-size(12px);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 0;
  }

  /**
   * On smaller screens, hide the photo completely…
   */
  .c-testimonial__photo {
    display: none;

    /**
     * …but pop it back in as soon as we get room.
     */
    @include mq($from: small) {
      display: block;
    }

  }

  .c-testimonial__text {
  }

  .c-testimonial__source {
    display: block;
    color: $color-testimonial-source;
  }
