/*------------------------------------*\
  #PAGE-FOOT
\*------------------------------------*/

.c-page-foot {
  padding: $global-spacing-unit;
  @include font-size(12px);
  background-color: $color-page-foot-background;
  color: $color-page-foot;
}
