///*----------------------------------*\
//  #PROMO
//\*----------------------------------*/

///
// Pre-configuration for our promotional component.
 //

$promo-color-background: #507028;
$promo-color:  #fff;

$promo-custom: (
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.1),
);
